<meta http-equiv="refresh" content="7" >
<h1> SHOW ! </h1>
<div class="left-board">
<% if logged_in? %>
    <%= current_user.username %> <br>

        <% if current_user.username == @fun.player1.username %>
                <p> YOUR FIELD<p>

                <% @fun.board1.each do |row| %>
                <%= row %><br>
                <% end %>
                <br>
                <br>



                <p> ENEMY FIELD<p>

              <% @fun.board1_display.each do |row| %>
              <%= row %>
              <br>
              <% end %>

       <% end %>


      <% if current_user.username == @fun.player2.username %>
      <p> YOUR FIELD<p>

          <% @fun.board2.each do |row| %>
          <%= row %><br>
          <% end %>
          <br>
          <br>
          <p> ENEMY FIELD<p>
          <% @fun.board2_display.each do |row| %>
          <%= row %><br>

      <% end %>

      <% end %>
<% end %>
</div>
<div class="right-board">

  <% if logged_in? %>

          <% if current_user.username == @fun.player1.username %>
             <p>Form 1</p>
             <form action="/funs/<%= @fun.id %>" method="post">
               <input type="hidden" name="_method" value="PUT">

              X:<br>
              <input type="text" name="X"><br>
              Y:<br>
              <input type="text" name="Y">
              <input type="submit" value="FIRE!">
          </form>
          <% end %>
  <% end %>

  <% if logged_in? %>

          <% if current_user.username == @fun.player2.username %>
          <p>Form 2</p>
          <form>
           X:<br>
           <input type="text" name="X"><br>
           Y:<br>
           <input type="text" name="Y">
       </form>
          <% end %>
  <% end %>



</div>
